<article class="blog">
  <div class="title">
    <h5>{{title}}</h5>
    <span>({{movie}})</span>
    <p>{{text}}</p>
  </div>
  <div class="meta">
    {{user.username}} on
    {{created_at}}
  </div>
</article>